*,
*::after,
*::backdrop {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-orange: #FF3C00;
    --color-dark: #07101D;
    --color-white: #fff;
}

a {
    text-decoration: none;
}

body {
    font-family: kalameh;
    background-color: var(--color-dark);
}

/* Fonts */

@font-face {
    font-family: kalameh;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/KalamehWeb-Black.woff') format('woff');
}

@font-face {
    font-family: kalameh;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/KalamehWeb-Bold.woff') format('woff');
}

@font-face {
    font-family: kalameh;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/KalamehWeb-Regular.woff') format('woff');
}

/* Svg */

#icons {
    display: none;
}

svg {
  width: 33px !important;
  height: 33px !important;
  color: var(--color-white);
}

.nav_icon {
  width: 23px !important;
  height: 23px !important;
}

/* Input */

input::placeholder {
  color: #6c757d !important;
  opacity: 1;
}

/* Form */

.form-control:focus {
  background: inherit !important;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  color: var(--color-white);
}

/* Padding */

.p_14 {
    padding: 14.8px;
}

/* Background color */

.bg_orange {
    background-color: var(--color-orange);
    color: var(--color-white);
}

/* Text color */

.text_orange {
    color: var(--color-orange);
}

/* Transition */

.button {
  transition: all 80ms ease-in;
}

svg {
  transition: all 80ms ease-in;
}

/* Gradient */

.bg_gradient{
    background-image: linear-gradient(to right, #7011AD, #BC0505, #FC630F);
}

.hover_gradient:hover {
    background-image: linear-gradient(to left, #7011AD, #BC0505, #FC630F);
}

/* Button */

.button,
svg {
  transition: all 150ms ease-in;
}

.button:hover {
  color: var(--color-orange);
  background-color: inherit;
  border: 1px solid var(--color-white);
  transform: scale(1.05);
}

.button:hover svg,
a svg:hover {
  color: var(--color-orange);
  transform: scale(1.1);
}

/* Ship */

header::before {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: radial-gradient(circle, #3D0D58 0%, #070F1C 100%);
    border-radius: 50%;
    filter: blur(60px);
    opacity: 0.4;
    right: -75px;
    top: -95px;
    z-index: -1;
}

/* Header */

.title_header {

}

.title_text {

}

.title_coption.title_text {

}

/* Background inherit*/

.bg_inherit {
    background: inherit;
    border: none;
    outline: none;
}