*,
*::after,
*::backdrop {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: kalameh;
}

@font-face {
    font-family: kalameh;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/KalamehWeb-Black.woff') format('woff');
}

@font-face {
    font-family: kalameh;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/KalamehWeb-Bold.woff') format('woff');
}

@font-face {
    font-family: kalameh;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/KalamehWeb-Regular.woff') format('woff');
}
