/* -------------------------------------------------------------------
   Global Reset
------------------------------------------------------------------- */
*,
*::after,
*::before,
*::backdrop {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------------------------------------------------------
   Root Variables
------------------------------------------------------------------- */
:root {
    --color-orange: #FF3C00;
    --color-dark: #07101D;
    --color-white: #fff;
}

/* -------------------------------------------------------------------
   Text Selection Styling
------------------------------------------------------------------- */
::selection {
    background-color: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(4px);
    color: var(--color-white);
}

/* -------------------------------------------------------------------
   Scrollbar Styling
------------------------------------------------------------------- */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--color-dark);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(7, 16, 29, 0.4);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(7, 16, 29, 0.6);
}

/* Firefox scrollbar */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(7, 16, 29, 0.4) var(--color-dark);
}

/* -------------------------------------------------------------------
   Base Elements
------------------------------------------------------------------- */
a {
    text-decoration: none;
}

img {
    object-fit: cover;
}

body {
    font-family: kalameh;
    background-color: var(--color-dark);
}

/* -------------------------------------------------------------------
   Fonts
------------------------------------------------------------------- */
@font-face {
    font-family: kalameh;
    font-weight: 900;
    src: url('../fonts/KalamehWeb-Black.woff') format('woff');
}

@font-face {
    font-family: kalameh;
    font-weight: bold;
    src: url('../fonts/KalamehWeb-Bold.woff') format('woff');
}

@font-face {
    font-family: kalameh;
    font-weight: normal;
    src: url('../fonts/KalamehWeb-Regular.woff') format('woff');
}

/* FaNum versions */
@font-face {
    font-family: kalameh;
    font-weight: 900;
    src: url('../fonts/KalamehWeb(FaNum)-Black.woff') format('woff');
}

@font-face {
    font-family: kalameh;
    font-weight: bold;
    src: url('../fonts/KalamehWeb(FaNum)-Bold.woff') format('woff');
}

@font-face {
    font-family: kalameh;
    font-weight: normal;
    src: url('../fonts/KalamehWeb(FaNum)-Regular.woff') format('woff');
}

/* -------------------------------------------------------------------
   SVG Icon Styling
------------------------------------------------------------------- */
#icons {
    display: none;
}

svg {
    width: 33px !important;
    height: 33px !important;
    color: var(--color-white);
    transition: all 150ms ease-in;
}

.nav_icon {
    width: 23px !important;
    height: 23px !important;
}

.speed_icon {
    width: 42px !important;
    height: 112px !important;
}

.security_icon {
    width: 44px !important;
    height: 46px !important;
}

.support_icon {
    width: 48px !important;
    height: 47px !important;
}

/* -------------------------------------------------------------------
   Input Styling
------------------------------------------------------------------- */
input::placeholder {
    color: #6c757d !important;
    opacity: 1;
}

.form-control:focus {
    background: inherit !important;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    color: var(--color-white);
}

/* -------------------------------------------------------------------
   Utility Classes
------------------------------------------------------------------- */
.p_14 {
    padding: 14.8px;
}

.cursor_pointer {
    cursor: pointer;
}

.bg_orange {
    background-color: var(--color-orange);
    color: var(--color-white);
}

.text_orange {
    color: var(--color-orange);
}

.bg_inherit {
    background: inherit;
    border: none;
    outline: none;
}

.bg_blur{
    background-color: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
}

/* -------------------------------------------------------------------
   Buttons & Icon Hover Effects
------------------------------------------------------------------- */
.button {
    transition: all 150ms ease-in;
}

.button:hover {
    color: var(--color-orange);
    background-color: inherit;
    border: 1px solid var(--color-white);
    transform: scale(1.05);
}

.button:hover svg,
a svg:hover {
    color: var(--color-orange);
    transform: scale(1.1);
}

/* -------------------------------------------------------------------
   Gradient Background Utilities
------------------------------------------------------------------- */
.bg_gradient {
    background-image: linear-gradient(to right, #7011AD, #BC0505, #FC630F);
}

.hover_gradient:hover {
    background-image: linear-gradient(to left, #7011AD, #BC0505, #FC630F);
}

/* -------------------------------------------------------------------
   Header Glow Background Decoration
------------------------------------------------------------------- */
header::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 50%;
    background-image: radial-gradient(circle, #3D0D58 0%, #070F1C 100%);
    border-radius: 50%;
    filter: blur(90px);
    opacity: .7;
    right: -75px;
    top: -95px;
    z-index: -1;
}

/* -------------------------------------------------------------------
   Header Decorative Images
------------------------------------------------------------------- */
.main_img_header::before,
.main_img_header::after {
    content: '';
    background-repeat: no-repeat;
    position: absolute;
}

.main_img_header::before {
    background-image: url("../images/img-for-hdear/Path1.png");
    width: 35px;
    height: 47px;
    top: 8rem;
    right: 9rem;
}

.main_img_header::after {
    background-image: url("../images/img-for-hdear/Path2.png");
    width: 69px;
    height: 45px;
    bottom: 6rem;
    left: 1rem;
}

/* -------------------------------------------------------------------
   User Counter Container
------------------------------------------------------------------- */
.count_user_site {
    width: 252px;
    height: 75px;
    background-color: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(5px);
    position: absolute;
    left: 198px;
    bottom: 98px;
    user-select: none;
}

.count_user_site img {
    width: 103px;
    height: 43px;
}

/* -------------------------------------------------------------------
   Main Icons
------------------------------------------------------------------- */
.icon_main {
    width: 38px;
    height: 38px;
}

.icon_header_container {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------------------------------------------------------------------
   Wallet Boxes
------------------------------------------------------------------- */
.wallet_box {
    padding: 1px;
    height: 188px;
    position: relative;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.wallet_box > div {
    background-color: #161E2A;
}

/* Corner ribbon shape */
.wallet_box::after {
    content: '';
    width: 47px;
    height: 23px;
    background-color: var(--color-dark);
    position: absolute;
    right: -14px;
    bottom: -3px;
    transform: rotate(-43deg);
}

/* Hover effects */
.wallet_box:hover {
    transform: translateY(-8px) scale(1.03);
}

.wallet_box img {
    transition: transform 0.4s ease;
}

.wallet_box:hover img {
    transform: scale(1.1) rotate(3deg);
}

.wallet_box:hover span {
    color: var(--color-white);
    letter-spacing: 0.5px;
}

/* -------------------------------------------------------------------
   Wallet Card Color Themes (Using simple gradient)
------------------------------------------------------------------- */
.wallet_box_1 { --wallet-color: #FC280C; }
.wallet_box_2 { --wallet-color: #00D1FF; }
.wallet_box_3 { --wallet-color: #760AFF; }
.wallet_box_4 { --wallet-color: #FE007A; }
.wallet_box_5 { --wallet-color: #FFBB0D; }
.wallet_box_6 { --wallet-color: #00FF7B; }

/* Apply gradient & border color dynamically */
.wallet_box_1,
.wallet_box_2,
.wallet_box_3,
.wallet_box_4,
.wallet_box_5,
.wallet_box_6 {
    background-image: linear-gradient(to right bottom, var(--color-dark), var(--wallet-color));
}

.wallet_box_1::after,
.wallet_box_2::after,
.wallet_box_3::after,
.wallet_box_4::after,
.wallet_box_5::after,
.wallet_box_6::after {
    border-top: 1px solid var(--wallet-color);
}

/* -------------------------------------------------------------------
   Hot bids 
------------------------------------------------------------------- */
.box_hot_bids{
    background-color: rgba(255, 255, 255, 0.10);
}

.img_hot_bids > div{
    top: 1.8rem;
    left: 2.4rem;

}

.hearet_icon_hot_bids{
    width: 58px;
    height: 58px;
}

.text_time_hot_bids{
    width: 150px;
    height: 58px;
    font-size: 1.3rem;
    font-family: Gilroy_Bold;
}

.Ellipse_2{
    width: 100vw;
    height: 100vh;
    border-radius: 100%;
    position: absolute;
    bottom: -164%;
    left: -45%;
    z-index: -1;
    filter: blur(50px);
    background: radial-gradient(62.37% 62.37% at 50.00% 50.00%, rgba(8, 164, 117, 0.10) 28.57%, rgba(7, 15, 28, 0.00) 100%);
}

/* -------------------------------------------------------------------
   Responsive Rules
------------------------------------------------------------------- */
@media screen and (max-width: 991.98px) {
    header::before {
        width: 30%;
        height: 40%;
        right: 70%;
        top: 0;
    }
}

@media screen and (max-width: 600px) {
    .main_img_header::before {
        top: 6rem;
        right: 2rem;
    }

    .main_img_header::after {
        bottom: 3rem;
        left: 1rem;
    }

    .count_user_site {
        width: 229px;
        height: 66px;
        left: 157px;
        bottom: 91px;
    }

    .icon_header_container {
        width: 58px;
        height: 58px;
    }

    .text_time_hot_bids{
        width: 120px;
        height: 34px;
        font-size: 0.8rem;
    }

    .hearet_icon_hot_bids {
        width: 31px;
        height: 31px;
    }
}

@media screen and (max-width: 400px) {
    .count_user_site {
        left: 100px;
        bottom: 43px;
    }
}
